<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../layouts/head'); -%> 
    <title>Управление задачами - Вход</title>

</head>
<%- include('../layouts/ru/navbar'); -%> 
<body>
    <div class="container">
        <header class="text-center text-light my-4">
            <h1 class="mb-4">Веб-приложение управления задачами</h1>
            <h2 class="mb-4">Войти</h2>

        </header>

        <form action="/login" method="post" class="login-form">
            <input class="form-control" type="text" name="username" placeholder="Имя пользователя">
            <input class="form-control" type="password" name="password" placeholder="Пароль">
            <div class="text-center">
                <button class="btn login-btn" type="submit">Войти</button>
            </div>
        </form>
    </div>
    <script src="/js/lang.js"></script>
    <%- include('../layouts/ru/footer'); -%> 
</body>
</html>
