<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head'); -%> 
    <title>Task Management - Login</title>

</head>
<%- include('layouts/navbar'); -%> 
<body>
    <div class="container">
        <header class="text-center text-light my-4">
            <h1 class="mb-4">Task Management WebApp</h1>
            <h2 class="mb-4">Login</h2>

        </header>

        <form action="/login" method="post" class="login-form">
            <input class="form-control" type="text" name="username" placeholder="Username">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <div class="text-center">
                <button class="btn login-btn" type="submit">Login</button>
            </div>
        </form>
    </div>
    <%- include('layouts/footer'); -%> 
</body>
</html>
